---
import {useLocale} from '@utils/locale'
import {PandaConfig} from "../config.js";
const {footer} = PandaConfig;
const {t} = useLocale(Astro.url)
---

<footer class="mt-12 mb-6 text-sm opacity-60">
    <div class="mb-2">
        {footer &&
            footer.map((item, index) => (
                <span>
                    <a href={item.url} class="panda-link">{item.title}</a>
                    {index !== footer.length - 1 && <span class="mx-1">|</span>}
                </span>
            ))
        }
    </div>
    <div class="text-xs font-mono">
        Built with <a class="panda-link" href="https://astro.build/">astro</a>. 
        Inspired by <a class="panda-link" href="https://bearblog.dev/">bearblog</a> 
        & <a class="panda-link" href="https://thavlik.dev/">thavlik.dev</a>.
    </div>
</footer>
